# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# Visual Studio Code
.vscode/

# Rider
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Publishing
publish/
*.pubxml

# Logs
*.log

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Backup & Temp files
*.bak
*.tmp
*.swp
